<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
    <appender name="wpsReport" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/wpsSimulator.log</file>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/wpsSimulator.%d{yyyy-MM-dd_HH-mm-ss}.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5GB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] |-%highlight(%-5level) %logger{36} %X{peasantAlias} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="wpsReportData" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/wpsSimulator.csv</file>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/wpsSimulator.%i.csv.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>1GB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
        <bufferSize>8KB</bufferSize>
    </appender>

    <!-- Logger específico para capturar solo mensajes TRACE -->
    <logger name="wpsReportData" level="TRACE" additivity="false">
        <appender-ref ref="wpsReportData"/>
    </logger>

    <!-- Root logger captura DEBUG y niveles superiores y los envía a wpsReport -->
    <root level="DEBUG">
        <appender-ref ref="wpsReport" />
    </root>

    <logger name="io.undertow" level="OFF"/>
    <logger name="org.xnio" level="OFF"/>
</configuration>
